/* Header styles */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: relative;
    color: #fff;
    height: 100px;
    background-color: #11474D;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    text-decoration: none;
  }
  
  .logo {
    width: 160px;
    position: relative;
    top: 60px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    transition: transform 0.3s ease; /* Add transition for smooth zoom effect */
}

.logo:hover {
    transform: scale(1.1); /* Scale the logo slightly on hover */
}
  .nav-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    right: -240px;
    bottom: 70px;
    height: 90px;
    font-size: 22px;
    color: #fff;
    text-decoration: double;
  }
  
  .nav-links li {
    margin-right: 50px;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
    list-style: none; /* Add transition for smooth color change */
  }
  .nav-links li  a{
    margin-right: 10px;
    position: relative;
    left: 90px;
    top: 10px;
    text-decoration: none;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease; /* Add transition for smooth color change */
  }
  
  
  .nav-links li a:hover {
    color: #000000;
}
  
  .menu-icon {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
  }
  
  .menu-line {
    width: 100%;
    height: 3px;
    background-color: #333333;
  }
  
  .user-icon {
    margin-right: 5px;
  }
  a{
    color: unset;
    text-decoration: none;
}
.container{
    width: 900px;
    margin: auto;
    max-width: 90vw;
    text-align: center;
    padding-top: 10px;
}
.title{
    font-size: xx-large;
    padding: 20px 0;
}
.listProduct .item img{
    width: 90%;
    filter: drop-shadow(0 50px 20px #0009);
}
.listProduct{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.listProduct .item{
    background-color: #EEEEE6;
    padding: 20px;
    border-radius: 20px;
}
.listProduct .item:hover{
  border: 4px solid #03dac5;
  border-radius: 25px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2); /* Box shadow with black color */
  transition: transform 0.3s ease;
}
.listProduct .item:hover{
  transform: translateY(-10px);
}
.listProduct .item h2{
    font-weight: 500;
    font-size: large;
}
.listProduct .item .price{
    letter-spacing: 7px;
    font-size: small;
}
/* detail page */

.detail{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    text-align: left;
}
.detail .image img{
    width: 100%;
}
.detail .image{
    position: relative;
}
.detail .image::before{
    position: absolute;
    width: 300px;
    height: 300px;
    content: '';
    background-color: #94817733;
    z-index: -1;
    border-radius: 190px 100px 170px 180px;
    left: calc(50% - 150px);
    top: 50px;

}
.detail .name{
    font-size: xxx-large;
    padding: 40px 0 0 0;
    margin: 0 0 10px 0;
}
.detail .price{
    font-weight: bold;
    font-size: x-large;
    letter-spacing: 7px;
    margin-bottom: 20px;
}
.detail .buttons{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}
.detail .buttons button{
    background-color: #eee;
    border: none;
    padding: 15px 20px;
    border-radius: 20px;
    font-family: Poppins;
    font-size: large;
}
.detail .buttons svg{
    width: 15px;
}
.detail .buttons span{
    background-color: #555454;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-left: 20px;
}
.detail .buttons button:nth-child(2){
    background-color: #2F2F2F;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #eee;
    box-shadow: 0 10px 20px #2F2F2F77;
}
.detail .description{
    font-weight: 300;
}
#scrollToTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  width: 60px;
  height: 60px;
  right: 30px;
  z-index: 99;
  font-size: 30px;
  border: none;
  outline: none;
  background-color: white;
  color: #0C7885;
  cursor: pointer;
  padding-left: px;
  padding-right: px;
  border-radius: 50%;
  border: 2px solid teal;

}

#scrollToTopBtn.visible {
  display: block;
}


#scrollToTopBtn:hover {
background-color: teal;
color: black;
border: 2px solid black;
}
/* // ipad */
@media only screen and (max-width: 992px) {
    .listProduct{
        grid-template-columns: repeat(3, 1fr);
    }
    .detail{
        grid-template-columns:  40% 1fr;
    }
}


/* mobile */
@media only screen and (max-width: 768px) {
    .listProduct{
        grid-template-columns: repeat(2, 1fr);
    }
    .detail{
        text-align: center;
        grid-template-columns: 1fr;
    }
    .detail .image img{
        width: unset;
        height: 40vh;
    } 
    .detail .name{
        font-size: x-large;
        margin: 0;

    }
    .detail .buttons button{
        font-size: small;
    }
    .detail .buttons{
        justify-content: center;
    }
}



@media screen and (max-width: 480px) {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        width: 120%;
        color: #fff;
        height: 110px;
        background-color: #11474D;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
        text-decoration: none;
      }
      .logo {
        width: 100px; /* Adjust the width as needed */
        height: auto; /* Maintain aspect ratio */
        position: relative;
        margin-bottom: 90%;
    }
   
    .nav-links {
        display: none; /* Hide the navigation links */
        flex-direction: flex; /* Align the menu items vertically */
        position: absolute; /* Position the menu absolutely */
        top: 60px; /* Adjust the top position as needed */
        left: 0; /* Align the menu to the left */
        width: 100%; /* Make the menu full-width */
        padding: 20px; /* Add padding */
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow */
        height: 50px;
        font-size: 10px;
    }

    .nav-links li {
        margin-right:10px;
        height: 30px;
        width: 160px;
        position: relative;
        right: -30px;
        top: 0px;
        color: white;
        text-decoration: none;
        transition: color 0.3s ease;
        list-style: none; /* Add transition for smooth color change */
      }
      .nav-links li  a{
        margin-right: 2px;
        position: relative;
        left: -20px;
        width: 150px;
        top: 10px;
        text-decoration: none;
        color: white;
        text-decoration: none;
        transition: color 0.3s ease; /* Add transition for smooth color change */
      }
      
    .menu-icon {
        display: block; /* Show the menu icon */
        position: absolute; /* Position the icon absolutely */
        top: 30px; /* Adjust the top position as needed */
        right: 16px; /* Adjust the right position as needed */
        cursor: pointer; /* Change cursor to pointer */
        z-index: 1;
        width: 20px;
        font-size: 24px;/* Ensure the icon is above other elements */
    }
     
    .nav-links.active {
        display: flex; /* Show the navigation links when the 'active' class is present */
        /* Additional styles if needed... */
       }
         

}